dialog#my_modal_5.modal(class='w-1/2 h-full rounded-lg')
    .modal-box.max-w-8xl.p-3.rounded-sm(class='w-full')
        h3.text-xl.font-bold.text-center.mb-2 Edit Your Business
        form(method="POST", action="/business/edit/submit" class="product-form-edit")
            //- if productData
            //- console.log(productData)
            input#editProductId(type="hidden", name="productId")
            .form-group
                label(for="ProductName").block.text-sm.text-slate-600 Business Name
                input#EditProductName.w-full.bg-transparent.text-slate-700.text-sm.border.border-slate-200.rounded-md.px-3.py-2.transition.duration-300.ease.shadow-sm(type="text", name="ProductName")
            .form-group
                label(for="ProductLink").block.text-sm.text-slate-600 Website Link
                input#EditProductLink.w-full.bg-transparent.text-slate-700.text-sm.border.border-slate-200.rounded-md.px-3.py-2.transition.duration-300.ease.shadow-sm(type="text", name="ProductLink")
            .form-group
                label.block.mb-2.text-sm.text-slate-600.mr-4 Category
                each catEdit in categoryList
                    label.flex.items-center.gap-1.mr-2(for=catEdit._id)
                        input(type="checkbox", id=catEdit._id, name="Category[]" value=catEdit._id).bg-transparent.text-slate-700.text-sm
                        | #{catEdit.categoryName}

            .form-group
                label.block.mb-2.text-sm.text-slate-600 Origin
                each orgEdit in originList
                    label.flex.items-center.gap-1.mr-2(for=orgEdit._id)
                        input(type="checkbox", id=orgEdit._id, name="Origin[]" value=orgEdit._id).bg-transparent.text-slate-700.text-sm
                        | #{orgEdit.originName}

            .form-group
                label(for="Desc").block.text-sm.text-slate-600 Description
                textarea#EditDesc(name="Desc", placeholder="Input business description").w-full.bg-transparent.text-slate-700.text-sm.border.border-slate-200.rounded-md.px-3.py-2.transition.duration-300.ease.shadow-sm

            .form-group
                label.block.mb-2.text-sm.text-slate-600 Raw Material
                each rawEdit in rawMaterialList
                    label.flex.items-center.gap-1.mr-2(for=rawEdit._id)
                        input(type="checkbox", id=rawEdit._id, name="RawMaterial[]" value=rawEdit._id).bg-transparent.text-slate-700.text-sm
                        | #{rawEdit.rawMaterialName}

            .form-group
                label.block.mb-2.text-sm.text-slate-600 Type
                each typeEdit in typeList
                    label.flex.items-center.gap-1.mr-2(for=typeEdit._id)
                        input(type="checkbox", id=typeEdit._id, name="Type[]",value=typeEdit._id).bg-transparent.text-slate-700.text-sm
                        | #{typeEdit.typeName}

            .form-group
                label.block.mb-2.text-sm.text-slate-600 Color
                each cr in colorList
                    label.flex.items-center.gap-1.mr-2(for=cr._id)
                        input(type="checkbox", id=cr._id, name="Color[]",value=cr._id).bg-transparent.text-slate-700.text-sm
                        | #{cr.colorName}

            .form-group
                label.block.mb-2.text-sm.text-slate-600 Manufactoring Process
                each mp in manufactoringProcessList
                    label.flex.items-center.gap-1.mr-2(for=mp._id)
                        input(type="checkbox", id=mp._id, name="ManufactoringProcess[]" value=mp._id).bg-transparent.text-slate-700.text-sm
                        | #{mp.manufactoringProcessName}

            .flex.justify-center.gap-2.w-full
                button.btn(class="inline-block rounded-sm border border-red-600 bg-red-600 px-2 py-1 h-auto text-sm font-medium text-white text-center hover:bg-transparent hover:text-red-600 focus:ring-3 focus:outline-hidden", type='submit')
                    | Update                
                button.btn(class="inline-block rounded-sm border border-red-600 bg-red-600 px-2 py-1 h-auto text-sm font-medium text-white text-center hover:bg-transparent hover:text-red-600 focus:ring-3 focus:outline-hidden" type="button", onclick="closeEditModal()")
                    | Cancel